@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


/* common styles */
* {
    margin: 0;
    padding: 0;
}

/* fofnt-family */
.poppins-font {
    font-family: "Poppins", serif;
    font-style: normal;
    font-size: normal;
}

/* rateing style */
.fa-solid {
    color: rgb(251, 130, 0);
}

.text-center {
    text-align: center;
}

.section-title {
    font-size: 1.75rem;
    font-weight: 600;
}

.section-description {
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 700;
}

.btn-primary {
    background: rgb(224, 44, 109);
    padding: 10px 24px;
    cursor: pointer;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
}

.display-flex {
    display: flex;
}

/* navbar styles */
.navbar {
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    list-style: none;
    margin-right: 50px;
}

.nav-link {
    text-decoration: none;
}

.nav-icon {
    align-items: center;
    gap: 40px;
}

.navbar,
.header-container {
    max-width: 1200px;
    margin: 80px auto;
}

.header-container {
    justify-content: space-between;
    align-items: center;
}

.header-image {
    max-width: 475px;
    background-image: url(../images/Circle\ design.svg);
    background-size: contain;
    background-repeat: no-repeat;

}

.header-image img {
    width: 90%;
    padding: 30px 33px 32px 2px;
}

.header-content {
    max-width: 582px;
}

.header-title {
    font-size: 3.25rem;
    font-weight: 700;
}

#header-btn {
    border-radius: 18px;
}

/* sponsor logo styles */
.sponsor {
    max-width: 1110px;
    margin: 70px auto;
    justify-content: space-between;
    padding: 35px 60px;
    background: linear-gradient(135.00deg, rgba(192, 204, 218, 0.1) 0%, rgba(192, 204, 218, 0.6) 50.378%, rgba(192, 204, 218, 0.1) 100%);
}

/* Popular Collection card section styles */
.collection-container {
    max-width: 1047px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 50px 0;
}

.card {
    max-width: 329px;
    height: 476px;
    padding: 17px 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    background: rgb(255, 255, 255);
}

.card-img img {
    width: 100%;
}

#num {
    color: rgb(94, 99, 102);
    font-weight: 700;
}

.card-number {
    font-family: "Inter", serif;
    font-style: normal;
    color: rgba(0, 0, 0, 0.87);
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 15px;
}

.card-description {
    font-family: "Inter", serif;
    font-style: normal;
    font-size: 0.9rem;
    font-weight: 700;
    color: rgb(120, 120, 133);
    padding-right: 80px;
}

.btn-right {
    text-align: right;
}

#arrow-white {
    color: white;
}

.btn {
    color: rgba(224, 44, 109, 0.87);
    font-weight: 700;
    font-size: 1rem;
    border: none;
}

#red-btn {
    color: rgba(224, 44, 109, 0.87);
}

/* Featured products related styles */
.featured-products {
    max-width: 1110px;
    margin: 70px auto;
    justify-content: space-between;
}

.products-img {
    max-width: 404px;
}

.products-img img {
    width: 100%;
    height: 100%;
}

.products-content {
    max-width: 610px;
    margin: 23px 0;
}

.products-title {
    font-size: 2.375rem;
    font-weight: 700;
}

.products-description {
    color: rgb(108, 108, 108);
    font-size: 1rem;
    font-weight: 700;
    margin: 16px 0;
}

/* footer section styles */
footer {
    width: 100%;
}

.footer-container {
    height: 200px;
    background: #20263e;
    align-items: center;
}

.footer-content {
    max-width: 262px;
    color: white;
    margin: 0 auto;
}

.footer-title {
    font-size: 1.5rem;
    font-weight: 700;
}

.footer-description {
    color: rgb(217, 219, 225);
}

.icon {
    margin-top: 10px;
    justify-content: center;
    gap: 40px;
}

/* responsive media query */

/* small device */
@media screen and (max-width:576px) {

    .navbar,
    .header-container,
    .card-container,
    .products-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header-container,
    .featured-products {
        flex-direction: column-reverse;
    }

    .header-title,
    .products-title {
        font-size: 1.75rem;
    }

    .nav-links {
        display: none;
    }

    .header-image img {
        max-width: 200px;
    }

    .sponsor {
        flex-wrap: wrap;
        justify-content: center;
        padding: 0px;
        gap: 20px;
    }

    .sponsor img {
        max-width: 60px;
    }

    .products-img img {
        max-width: 350px;
    }

    .card-container {
        display: flex;
        flex-direction: colomn;
        margin: 20px auto;
        gap: 15px;
    }

    .btn-right,
    .header-content,
    .products-content,
    .products-img {
        text-align: center;
    }

    footer {
        width: 100%;
    }
}

/* medium device */
@media screen and (min-width: 576px) and (max-width: 992px) {

    .header-container,
    .featured-products {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .navbar {
        padding: 0px 20px;
    }

    .card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .btn-right,
    .featured-products {
        text-align: center;
    }

    footer {
        width: 100%;
    }
}